a{
	color: black !important
}

a:hover{
	color: #4238B3 
}

input:hover{
	border-color: 4px solid #6E65CC
}


.containerer {
   
    background-color: #3F3F3F;
}

.pasoo1{
	font-size: 30px
}


/* SECCION DEL FORMULARIO DEL HOME */

.rower {
    display: flex;
    justify-content:center;
    padding: 10px;
    gap: 10px;    
    flex-wrap: wrap;
    align-items:center;


}

.rowreser{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 20vh;
    padding-left: 20px;
    padding-right: 20px;
}

.coler{
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 5%;
    /* background-color:white; */
    width: 30%;
   
}

#nombre {
    width: 100%;
    border-radius: 5px;
    border: black;
}

#correo {
    width: 100%;
    border-radius: 5px;
    border: black;
}

#telefono {
    width: 100%;
    border-radius: 5px;
    border: black;
}

input {
    height: 30px;
    /* border: none; */
    /* outline: none; */
}

#tituloForm{
    font-family: Sarabun;
    display: flex;
    justify-content: center;   
    color: white;
    font-size:large;
    /* border: 2px solid white; */
    height: 7vh;
    /*padding-top: 10%;*/
    margin-top: 5vh ;
    
}

#wrapperFormulario {
    display: flex;
    justify-content: center;
}

#cajaFormulario {
   
    width: 70%;
}



#textForm {
    font-family: Sarabun;
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
    color: white;
    font-size:medium;
}

.textForm{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: #3F3F3F;

}

.textArea{
    width: 92%;   
    border-radius: 5px;
}



.contentBoton{
    margin-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.botonConsulta{
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: #4238B3;
    color: white;
    cursor: pointer;
    /* border-radius: 5px; */
    border: none;
    outline: none;
    
}

.botonConsulta:hover {
    border: 2px solid #5B53D4;
    background-color: #4238B3;
    
}

::placeholder{
    padding: 10px;
    color: black;
}

.colReservados {
    color: #C8CACB;

}

/* FIN DE SECCION DEL FORMULARIO DEL HOME */



/* INICIO DE BANNER VIOLETA */

/* #bannerVioleta {
    display: flex;
    justify-content: center;
    align-items: center;
} */


#rowVioleta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid blue;
    background-color: #6E65CC;
}

.colVioleta1{
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    min-width: 200px;
    width: 33%;
    /* justify-items: end; */
    flex: 1;
    color: white;
    background-color: #4238B3;
}

@media(max-width: 400px){
	



	.colVioleta1{
		display: flex;
		justify-content: center;
		border: 1px solid black;
		padding-top: 3%;
	}
	
	
}

.colVioleta2 {
    display: flex;
    padding-left: 2%;
    background-color: #6E65CC;
    color: white;
    align-items: center;
    min-width: 300px;
    flex: 1;
		padding-top: 1%;
	font-size: 14px;
}

.colVioleta3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    flex: 1;
    background-color: #6E65CC

}


/* FINAL DE BANNER VIOLETA */


@media(max-width: 400px) {
    #rowVioleta {
      justify-content: center;
    }
  
   /* .colVioleta1,*/
    .colVioleta2,
    .colVioleta3 {
      justify-content: center;
      padding-right: 0;
      padding-left: 0;
    }
  }


  #bannerTuSalud{
    background-color: #4238B3;
    text-align: center;
    padding: 2%; 
   
  }

@media(max-width: 400px){
	
	#bannerTuSalud{
		padding-top: 5%;
		padding-bottom: 5%
	}
	
}

  
  .linea1 {
    
    margin-top:30px;
    color: #FFDA00 ;
    font-size: 40px;
    font-weight: 700;
    font-family: Sarabun;
    /* text-align: center; */
  }

  .linea2 {
    font-family: sarabun;
    color:#C8CACB;
    font-size: 32px;
    font-weight: 700;
    /* text-align: center; */
  }

  .linea3 {
    font-family: sarabun;
    color: #C8CACB;
    font-size: 24px;
    font-weight: 400;
    /* text-align: center; */
  }




/* Pasos Ingresos */

.wrapperPasosIngresos {
    background-color: white;
    display: flex;
	  flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;   
}

.rowPasosIngreso1 {
    display: flex;
	  flex-wrap: wrap;
    justify-content: center;
		padding-top: 2%;
	align-items: center;
	
 
}

.colTextIngreso {
	
   font-family: Sarabun;
   font-size: 24px;
   font-weight: 400;
	 display: flex;
	 flex-wrap: wrap;
   align-items: center;
	
}

@media(max-width: 400px){
	.colTextIngreso{
		 padding-top: 5%;
	   margin-left: 3%;
	   margin-right: 3%;
		
		
	}
	
}

.rowPasosIngreso2 {
    display: flex;
	  flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid black; */
}


/* fin Pasos Ingresos */

.consultaP{
    background-color: #5B53D4;
    color: white;
    border-radius: 25px;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 7px;
		padding-bottom: 7px;
  }

/* edicion del menu*/

.botonesMenu {
	
	padding-top: 7px;
	padding-bottom: 7px;
	
}

.conocenos{
	padding-top: 7px;
	padding-bottom: 7px;
	color: black;

}



.beneficios{
	padding-top: 7px;
	padding-bottom: 7px;
	color: black
}

.contacto{
	padding-top: 7px;
	padding-bottom: 7px;
	color: black
}

.comoFunciona {
	padding-top: 7px;
	padding-bottom: 7px;
	color: black	
}

.comoFunciona:hoover {
	padding-top: 7px;
	padding-bottom: 7px;	
	border-radius: 25px;
	border: 1px solid #4238B3;
	background-color: #4238B3;
}

.consultaPersonalizada {
	
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #4238B3;
	border-radius: 25px;
	border: 1px solid #4238B3
	
}

@media (max-width: 953px) {
	.consultaPersonalizada {		
		background-color: transparent; 
		border: none;
		padding-top: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	  padding-right: 0px;
		
	}
}

.consultaPersonalizada a{
	color: white !important
}

@media (max-width: 953px) {
	
	.consultaPersonalizada a{
	color: black !important
	}
	
}



/*.desplegablePasos{
	
	@media (max-width: 953px)
	
	margin-left: 0px;
	margin-right: 0px
}*/




/* FIN edicion del menu*/


  
  .contenidoIS{

    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* align-items: center; */
  }
  .tituloIS{
		
    margin-left: 5%;
    font-size: 32px;
   /*  border: 1px solid #ccc; */
    

  }
  .contenedor1{
    /* border: 1px solid #313131; */
    display: flex;
    flex: 1;
    min-width: 500px;   
    background-image: url('http://mireclamo365.com/wp-content/uploads/2023/07/Mask-group.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*  height: px;*/
  }
  .contenedor{
    display: flex;
    /* border: 1px solid #313131; */
    flex-direction: column;
    flex: 1;
    min-width: 400px;

  }

 .text{
    margin-left: 1%;
     padding-left: 4%; 
     padding-right: 5%;
     font-size: 16px;
     /* border: 1px solid #ccc; */
 }

.parrafo1{
    /* border: 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */
}
.parrafo2{
    /* border: 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */

}
.parrafo3{
    /* border: 2px solid black; */
    display: flex;
    /* flex-wrap: wrap; */

}
/* .parrafo4{
    border: 2px solid black;
    flex-wrap: wrap;

} */

.col2{
    /* border: 1px solid  #FFDA00; */
    padding: 10px;
    margin: 10px;
    
}

.col1{
    padding-left: 30px;
    padding-top: 10px;
}


  /* fin seccion isaias */





    /*   PAGINA PASO 1   */


/* banner principal  paso 1*/
.rowSeguiPasos {
    border: solid 1px black;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

.row1SeguiPasos {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

.row2SeguiPasos {
    display: flex;
    justify-content: center;    
    
}



/* FIN banner principal  paso 1*/


.rowPaso1 {
display: flex;
justify-content: center;
flex: 2;
/*border: solid 1px red;*/

}


.colPaso1 {
 /* border: solid 1px black;*/
    width: 50vw;
    /* margin-left: 25%; */
}

#tituloPaso1 {
display: flex;
color: #4238B3;
font-size: 28px;
font-weight: 700;
padding-top: 1vh;

}

#subTituloPaso1 {
    padding-top: 1vh;
    font-size: 32px;
    font-weight: 700;
}

#parrafoPaso1 {
   margin-top: 10vw;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
}


.botones {
    display: flex;
    flex-wrap: wrap;
}

.btnAmarillo {
padding-top: 4%;
padding-bottom: 4%;
}

.continuar {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
}


.paso1Textos {
    padding-top: 10px;
    /* border: solid 1px greenyellow; */
}

#toggle {
    display: flex;
    justify-content: end;
    cursor: pointer;
    /* margin-left: 20%;
    margin-right: 20%; */
}

.seccionToggle {
    display: flex;
    justify-content:space-between;   
  /*  border: solid 1px violet;*/
    width: 50vw;
}
/* 
#toggle1{
    border: solid 1px red;
    display: flex;
    justify-content: end;
} */



.wrapper{
    flex-direction: column;
    align-content: center;
    display: flex;
    justify-items: center;
  /*  border: solid 5px orange;*/
}


.wrapper2 {
   /* border: solid 5px blue; */
    display: flex;
    justify-content: center;
}


.separador {
   margin-left: 20%;
   margin-right: 20%;
   width: 60%;
}



 /*  FIN PAGINA PASO 1   */

	.rowform {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .colform {
            flex: 1;
            margin-right: 10px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        select, input {
            width: 100%;
            padding: 5px;
        }



/* ocultar boton img fominator*/

#forminator-field-upload-1_64d673cd37ada input[type="file"] {
    display: none;
}


.contactFormForminator{
	
	padding-left: 200px;
	padding-right: 200px;	 
		
	
}

@media (max-width: 953px) {
  .contactFormForminator {
    padding-left: 10px; 
    padding-right:10px; 
  } 
}  


.tenesDudas {
	
	padding-top: 50px
}


.beneficios1{
	
	display: flex;
	justify-content: center;
	/*border: 1px solid  black;*/
	padding-left: 20px;
	padding-right: 20px;
	/*padding: 0px;*/
	margin-left: 90px;
	margin-right: 90px
	
}

@media (max-width: 953px) {
	.beneficios1{
		
		margin-left: 10px;
	  margin-right: 10px
		
	}
	
	
}

.logosBeneficios{
	
	padding-bottom: 20px;
	padding-top: 10px
		
	
}

.seccionBeneficios{
	padding-top: 5%
}

.cajas{
	border: 2px solid black
}


/*@media (max-width: 500px){
	.circulosBanner{
		
		display:flex;
		justify-content:center
		border: 1px solid black
	
}
	
}*/


@media (max-width: 500px){
	.circulosBanner1{
		
		display:flex;
		flex-direction: column;
		justify-content:center !important;
		align-items: center;
		
	
}
	
}



/* CSS BOLITAS PASOS */

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: row;
  min-width: 320px;
  min-height: 100vh;
}*/



#app {
  background: #E5E5E5;
  
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
 /* border: 2px solid red;*/
  display: flex;
  width: 100vw;
  justify-content: center;
	
	flex-wrap: wrap;
  /* align-items: center; */
  /* flex-direction: column; */
}

@media screen and (max-width:450px){

  #app {
		padding-left: 1rem;
		padding-right: 1rem;
    width:fit-content;
  }

}

.segui {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.contenedorPrincipal {
  display: flex;
  width: 70vw;
  /*height: 50px;*/
 justify-content: center;
 /* border: solid 1px black;*/
}

@media screen and (max-width:450px){

  .contenedorPrincipal {
    width: fit-content;
  }

}




#circulo1  {

  background: #4238B3;  
  color: aliceblue;
  border-radius: 50px;
  /* border: 2px solid violet;   */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

#circulo2 {

  background: grey;  
  color: aliceblue;
  border-radius: 50px;
  /* border: 2px solid violet; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

}

#circulo3 {

  background: grey;  
  color: aliceblue;
  display: flex;
  border-radius: 50px;
  /* border: 2px solid violet; */
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  
}

.circuloWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
}

.circuloWrapper2 {
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
}

.circuloWrapper3 {
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
}


.circuloWrapper::before {
  content: "";
  width: 150px; /* Ajusta el ancho de la línea según sea necesario */
  height: 3px;
  background-color: #4238B3;
  margin: 10px 0; /* Espacio entre la línea y el círculo */
}

.circuloWrapper2::before {
  content: "";
  width: 150px; /* Ajusta el ancho de la línea según sea necesario */
  height: 3px;
  background: grey;
  margin: 10px 0; /* Espacio entre la línea y el círculo */
}

.circuloWrapper3::before {
  content: "";
  width: 150px; /* Ajusta el ancho de la línea según sea necesario */
  height: 3px;
  background: #4238B3;
  margin: 10px 0; /* Espacio entre la línea y el círculo */
}


.circuloWrapper2.custom-color::before {
  background-color: #4238B3; /* Cambia el color aquí */
}



@media  (max-width:450px) {
  .circuloWrapper::before {
    width: 60px;

  }

  .circuloWrapper2::before {
    width: 60px;

  }

  .circuloWrapper3::before {
    width: 60px;
  }

}


.wraperwraper {
  display: flex;
  flex-direction: column;
  align-items: end;
}




.linea {
  width: 100px; /* Ajusta el ancho de la línea según sea necesario */
  height: 5px;  
  background-color: #4238B3;
}


.pasos {
	padding-top: 1%;
  display: flex;
  width: 70vw;
  height: 50px;
 justify-content: space-between;
 /* border: solid 1px black;*/

}


.pass1 {
  padding-left: 27%;
}

.pass3 {
  padding-right: 27%;
}

/* .pass2 {
  padding-left: 10px;
  padding-right: 10px;
} */



@media (max-width: 450px) {

  .pasos {
    display: flex;
    padding-top: 10px;
    align-items: center;
		width: 100%;
		/*width: 75vw*/
  }

  .pass1 {
    padding-left: 0%;
   /*border: 1px solid pink;*/
  }
  
  .pass3 {
    padding-right: 0%;
   /* border: 1px solid pink;*/
  }
  
  .pass2 {
   /* border: 1px solid pink;*/
  }
  
}


.containerApp {
 /* border: 1px solid blue;*/
} 


.iconosPasos{
	width: 30px;
	height: 30px
}

























.sm-separator .wp-block-separator{
	margin-top: 16px;
	margin-bottom: 10px;
}


#wp-block-themeisle-blocks-advanced-columns-2378c592 {	
	margin-bottom: 10px;
		padding-top: 0px;
	padding-bottom: 0px
}

.wp-block-themeisle-blocks-advanced-columns-overlay {
		padding-top: 0px;
	  padding-bottom: 0px
}

.contact-form div.wpforms-container-full .wpforms-form input[type=text],
.contact-form div.wpforms-container-full .wpforms-form input[type=email],
.contact-form div.wpforms-container-full .wpforms-form input[type=number]{
	padding: 30px 20px 30px 20px;
	background-color: #ffffff;
	border-color: #ffffff;
	font-size: 14px;
	color: #000;
	border-radius: 0px;
}
.contact-form div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
	height: 160px;
	background-color: #ffffff;
	border-color: #ffffff;
	padding: 20px;
	font-size: 14px;
	color: #000;
}
.contact-form div.wpforms-container-full .wpforms-form button[type=submit] {
	border-radius: 0px;
	border: none;
	background-color: #3d3db4;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	padding: 15px	30px;
}
.contact-form div.wpforms-container-full .wpforms-form button[type=submit]:hover {
	background-color: #f0ab22;
}
.contact-form div.wpforms-container-full .wpforms-form .wpforms-field-label {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 15px;
	margin-top: 10px;
}
.contact-form div.wpforms-container-full .wpforms-form .wpforms-required-label{
	color: #262626;
}

.f-width{
	width: 100%;
}